<div class="video-container"
    *ngFor="let videoItem of videoItems"
    [attr.id]="videoItem.id">
    <h2>{{videoItem.name}}</h2>
    
   <video   
        [attr.src]="videoItem.videoSrc"
        controls
        >
    </video> 
    <h3>comments:</h3>
    
    <app-comments
        *ngFor="let comment of videoItem.comments"
        [authorImg]="comment.authorImg"
        [authorName]="comment.authorName"
        [text]="comment.text"
    ></app-comments>
    <app-make-comment
        (leaveComment)="newComment(videoItem.id, $event)"
    ></app-make-comment>
</div>



